@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;
@import "../../icons/style.css";

body {
  font: 16px "Raleway", Helvetica, sans-serif;
}

div.container {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

header {
  background-color: $darkblue;
  .container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    .logo {
      display: flex;
      align-items: center;
      font-size: 40px;
      color: $lightgreen;
      transition: all 300ms;
      span {
        margin-left: 15px;
        font-size: 30px;
      }
      &:hover {
        color: $lightblue;
      }
    }

    nav {
      margin-left: auto;
      ul {
        display: flex;
        align-items: center;
        li {
          margin: 0 15px;
          &:nth-last-child(n) {
            margin-right: 0;
          }
          a {
            color: $lightgreen;
            padding: 10px;
            border-bottom: 1px solid $lightgreen;
            transition: all 300ms;
            &:hover,
            &.active {
              color: $lightblue;
              border-bottom: 1px solid $lightblue;
            }
          }
        }
      }
    }
  }
}
main {
  background-color: $mediumblue;
  color: #f1f1f1;
  min-height: 75vh;
  section {
    background-color: $lightgreen;
    margin-top: 10px;
    padding: 20px 0px;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}
footer {
  background-color: $darkblue;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    section {
      .social {
        margin-top: 10px;
      }
    }
  }
}

.loginbanner {
  background-color: $darkblue;
  .login {
    padding-top: 1px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    h1 {
      color: $lightgreen;
      margin-top: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 2em;
      background-color: $darkblue;
      border: 1px solid $darkblue;
      border-radius: 5px;
      input,
      button {
        margin: 0.3em 0;
        text-align: center;
        outline: none;
        border: 1px solid $darkblue;
      }
      input {
        padding: 1em;
        color: $lightgreen;
        background: transparent;
        border: 0;
        border-bottom: 1px solid;

        font-family: inherit;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
        &::placeholder {
          color: $lightgreen;
        }
      }
      .button {
        transition: all 0.2s ease;
        cursor: pointer;
        color: #fff;
        background-color: $mediumgreen;
        border: none;
        border-radius: 50px;
        box-shadow: 0 4px #999;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 4em;
        &:hover {
          background-color: $mediumgreen;
        }
        &:active {
          background-color: $mediumgreen;
          box-shadow: 0 3px #888;
          transform: translateY(2px);
        }
      }
    }
  }
}
